@charset "UTF-8";
@font-face {
  font-family: "PT Serif";
  src: url("/assets/fonts/pt-serif-regular.eot");
  src: url("/assets/fonts/pt-serif-regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/pt-serif-regular.woff") format("woff"), url("/assets/fonts/pt-serif-regular.ttf") format("truetype"), url("/assets/fonts/pt-serif-regular.svg#pt-serif") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "PT Serif";
  src: url("/assets/fonts/pt-serif-italic.eot");
  src: url("/assets/fonts/pt-serif-italic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/pt-serif-italic.woff") format("woff"), url("/assets/fonts/pt-serif-italic.ttf") format("truetype"), url("/assets/fonts/pt-serif-italic.svg#pt-serif-italic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "PT Sans";
  src: url("/assets/fonts/pt-sans-regular.eot");
  src: url("/assets/fonts/pt-sans-regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/pt-sans-regular.woff") format("woff"), url("/assets/fonts/pt-sans-regular.ttf") format("truetype"), url("/assets/fonts/pt-sans-regular.svg#pt-sans") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  font-weight: normal;
  -webkit-text-size-adjust: none; }

body {
  font: 1.0625em / 1.76471 PT Serif, Cambria, Georgia, serif; }
  @media screen and (max-width: 470px) {
    body {
      font-size: 0.875em; } }

a {
  color: #156f8f;
  text-decoration: none; }
  a:hover {
    color: #0c4255;
    text-decoration: underline; }

img {
  width: 100%; }

.article, .nav ul {
  padding: 0em 1em 0em; }

h1, h2, hr, .date, .original, .nav, .foot {
  text-align: center; }

p {
  padding: 0.88235em 0em 0.88235em; }

.article p, .article ul, .article ol, .article pre {
  max-width: 32em; }

.iframe {
  margin: 0 auto;
  max-width: 32em; }
  .iframe div {
    position: relative;
    width: 100%;
    height: 0; }
    .iframe div iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border: none; }

.iframe, .article p.large {
  margin: 0.88235em auto;
  max-width: 60em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07); }

h2 {
  position: relative;
  top: 0.6em;
  font-size: 1.47059em;
  line-height: 1.2;
  padding: 1.2em 0em 1.2em;
  max-width: 21.76em;
  margin: 0 auto;
  font-style: italic;
  color: #666;
  background: linear-gradient(#fff 52%, #e8e8e8 52%, #fff 53.5%);
  text-shadow: -0.2em 0 #fff, 0.2em 0 #fff, -0.1em 0 #fff, 0.1em 0 #fff; }

h3 {
  font-size: 1.23529em;
  line-height: 1.42857;
  padding: 1.42857em 0em 0em;
  max-width: 25.90476em;
  color: #888; }

.list {
  padding: 1.66667em 0em 0em; }
  .list h2 {
    color: #ccc;
    font-size: 1.11765em;
    line-height: 1.57895;
    padding: 0;
    margin: 1.57895em auto; }
  .list a {
    font-size: 1.17647em;
    line-height: 1.5;
    display: block;
    max-width: 19em; }
    .list a div {
      font-size: 0.76471em;
      line-height: 2.30769;
      margin-left: -3em;
      text-align: right;
      width: 2em;
      position: absolute;
      color: #ddd; }

.article ul.project {
  padding: 1.66667em 0em 0em;
  max-width: 25em; }
  .article ul.project li {
    padding: 1.66667em 0em 0em; }
  .article ul.project h3 {
    padding: 0em 0em 0em;
    font-size: 1.11765em;
    line-height: 1.57895;
    color: #156f8f;
    text-align: left; }
  .article ul.project .sub {
    font-size: 0.94118em;
    line-height: 1.875;
    padding: 0em 0em 0em;
    color: #999;
    text-align: left; }
  .article ul.project .img img {
    margin-left: 1em;
    float: right;
    height: 7.3em;
    width: 10em;
    opacity: 0.8;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07); }
  .article ul.project .desc {
    font-size: 1em;
    line-height: 1.76471;
    padding: 0.44118em 0em 1.32353em;
    color: #444;
    text-align: left; }
  .article ul.project a {
    text-decoration: none; }
    .article ul.project a:hover h3 {
      color: #0c4255;
      text-decoration: underline; }
    .article ul.project a:hover .sub {
      color: #666; }
    .article ul.project a:hover .desc {
      color: #000; }
    .article ul.project a:hover .img img {
      opacity: 1; }

.article p:first-of-type:first-letter {
  float: left;
  margin: 0.13em 0.05em 0 -0.05em;
  font-size: 3.333em;
  line-height: 0.75em; }

sup {
  padding: 0.07em;
  font-size: 0.8em;
  line-height: 0; }

.date {
  padding: 3.15789em 0em 1.57895em;
  font-size: 1.11765em;
  line-height: 1.57895;
  font-style: italic;
  color: #aaa; }

.original {
  padding: 0em 0em 2.30769em;
  font-size: 0.76471em;
  line-height: 1.15385;
  margin-top: -2.30769em;
  font-style: italic;
  color: #d4d4d4; }

.article li {
  padding-left: 2em; }
  .article li:before {
    content: "– "; }

.list li, .project li {
  padding-left: 0; }
  .list li:before, .project li:before {
    content: ""; }

h1 {
  font-size: 1.52941em;
  line-height: 1.15385;
  background: #252525 center;
  background-size: cover;
  color: #fff;
  top: 0;
  text-shadow: 0 0 0 #000, 0 0 0.3em #000;
  border-top: 2.30769em #191919 solid;
  padding: 2.30769em 0em 2.30769em; }

.pages h1, .projects h1 {
  padding: 2.88462em 0em 2.88462em; }

.projects h1 {
  margin-bottom: 1.15385em; }

.header0 {
  background-image: url("/assets/headers/0.jpg"); }

.header1 {
  background-image: url("/assets/headers/1.jpg"); }

.header2 {
  background-image: url("/assets/headers/2.jpg"); }

.header3 {
  background-image: url("/assets/headers/3.jpg"); }

.header4 {
  background-image: url("/assets/headers/4.jpg"); }

.header5 {
  background-image: url("/assets/headers/5.jpg"); }

.header6 {
  background-image: url("/assets/headers/6.jpg"); }

.header7 {
  background-image: url("/assets/headers/7.jpg"); }

.header8 {
  background-image: url("/assets/headers/8.jpg"); }

.header9 {
  background-image: url("/assets/headers/9.jpg"); }

.header10 {
  background-image: url("/assets/headers/10.jpg"); }

.header11 {
  background-image: url("/assets/headers/11.jpg"); }

.header12 {
  background-image: url("/assets/headers/12.jpg"); }

.header404 {
  background-image: url("/assets/headers/404.jpg"); }

.nav, .foot {
  position: absolute;
  left: 0;
  width: 100%; }

.nav, .foot {
  z-index: 1; }

.nav {
  position: fixed;
  background-color: #191919; }
  .nav ul {
    max-width: 32em; }
  .nav li {
    float: left;
    padding: 0; }
    .nav li:first-child a {
      color: #ddd; }
  .nav a {
    padding: 0.88235em 0.5em 0.88235em;
    display: block;
    float: left;
    color: #777; }
    @media screen and (max-width: 470px) {
      .nav a {
        padding: 0.88235em 0.4em 0.88235em; } }
  .nav a:hover, .nav .en .en, .nav .fr .fr {
    color: #fff; }
  .nav .lang {
    float: right; }

.en .en, .fr .fr {
  color: #fff; }

.foot {
  font-size: 0.94118em;
  line-height: 1.875;
  padding: 1.875em 0em 1.875em;
  margin-top: 3.75em;
  position: absolute;
  color: #ddd;
  background: #fcfcfc; }
  .foot span, .foot a {
    color: #d0d0d0; }
  .foot a:hover {
    color: #999; }

hr {
  font-size: 1.41176em;
  line-height: 1.25;
  padding: 2.5em 0em 0em;
  border: 0;
  color: #ccc; }
  hr:before {
    content: "*\a*    *";
    white-space: pre; }

.stats {
  width: 1px;
  height: 1px;
  border: 0; }

code {
  font-family: "PT Sans", Calibri, Arial, sans;
  color: #4D4E53;
  line-height: 1.5;
  background: #f5f5f5;
  border: 3px solid #f5f5f5; }

pre {
  padding: 0.88235em 0.75em 0.88235em;
  font-family: monospace, monospace;
  overflow-x: auto;
  background: #f5f5f5;
  border-left: 6px solid #eee; }
  pre code {
    border: none; }

.ge, .gs {
  color: #93a1a1; }

.nb {
  color: #b58900; }

.c, .cm, .c1, .sb {
  color: #586e75; }

.err, .g, .l, .n, .p, .go, .gp, .gt, .ld, .na, .nl, .nn, .nx, .py, .w, .sd, .sh {
  color: #93a1a1; }

.k, .o, .cp, .cs, .gi, .kn, .kp, .ow {
  color: #859900; }

.x, .gh, .gu, .kc, .no, .ni, .ne, .se {
  color: #cb4b16; }

.gd, .m, .s, .mf, .mh, code .mi, code .mo, .sc, .s2, .si, .sx, .s1, .ss, .il {
  color: #2aa198; }

.gr, .kt, .sr {
  color: #dc322f; }

.kd, .kr, .nc, .nd, .nf, .nt, .nv, .bp, .vc, .vg, .vi {
  color: #268bd2; }

@media screen and (min-width: 1000px) {
  .as:after {
    content: "*";
    color: #ccc; }

  .br {
    display: none; }

  .mar {
    font-size: 0.82353em;
    line-height: 2.14286;
    font-style: italic;
    position: absolute;
    left: 58%;
    right: 1em;
    margin-left: 17em;
    max-width: 16em;
    text-align: left;
    color: #d4d4d4; }
    .mar:before {
      content: "* "; }
    .mar code, .mar a {
      color: #ccc;
      font-style: normal; }
    .mar a:hover {
      color: #aaa; } }
.latex {
  letter-spacing: 0.8px; }
  .latex sup, .latex sub {
    position: relative;
    vertical-align: 0;
    text-transform: uppercase; }

.latex sup {
  bottom: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
  font-size: 0.85em; }

.latex sub {
  top: 0.25em;
  margin-left: -0.1667em;
  margin-right: -0.125em;
  font-size: 1em; }

